<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kayıt Ol - Otel Yönetim Sistemi</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css"> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="giris-kutusu">
        <h2>Yeni Kullanıcı Kaydı</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('kayit_ol') }}" method="POST">
            <div class="form-alani">
                <label for="kullanici_adi">Kullanıcı Adı:</label>
                <input type="text" id="kullanici_adi" name="kullanici_adi" required>
            </div>
            <div class="form-alani">
                <label for="sifre">Şifre:</label>
                <input type="password" id="sifre" name="sifre" required>
            </div>
            <button type="submit" class="btn btn-success">Kayıt Ol</button>
            <div class="alt-secenekler">
                <p>Zaten hesabın var mı? <a href="{{ url_for('giris_formu') }}">Giriş Yap</a></p>
            </div>
        </form>
    </div>
</body>
</html>